# Системные файлы macOS
.DS_Store
.AppleDouble
.LSOverride

# Папки системных настроек пользователя
../../*

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Базы данных
*.db
*.sqlite
*.sqlite3

# Логи
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Временные файлы
*.tmp
*.temp

# Секретные ключи и конфигурации
.env
*.key
*.pem 